body {
    overflow: hidden;
    margin: 0;
}

#glslCanvas {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#loading {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: -3;
}

.ui {
    position: absolute;
}

.link {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(18px, 1.25vw, 24px);
    font-weight: bold;
    color: rgb(191, 202, 247);
    position: absolute;
    top: 0;
    margin: 50px;
    margin-left: clamp(20px, 2.5vw, 50px);
    margin-right: clamp(20px, 2.5vw, 50px);
    z-index: -2;
}

button {
    top: 0;
    left: 0;
    margin: 100px;
}

#bg {
    position: absolute;
    z-index: -10;
}