html {
    height: 100%;
    min-height: 100%
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    background-image: url(./tile.png);
    background-size: max(min(5%, 128px), 64px);
    background-repeat: repeat;
    overflow-x: hidden;
    margin: 0px;
}

a {
    color: white;
}

.start {
    top: 0px;
    height: 128px;
    width: 100%;
    background-image: url(./warningStrip.png);
    background-size: 98px;
    border-bottom: solid rgb(182, 151, 28) 2px;
}

.warningstrip {
    top: 0px;
    height: 30px;
    background-image: url(./warningStripEdge.png);
    box-shadow: 0px 10px 10px rgb(35, 35, 35);
}

.lamps {
    margin-left: auto;
    margin-right: auto;
    margin-top: max(min(20%, 350px), 200px);
    width: max(min(60%, 840px), 270px);
    position: relative;
}

.lamp {
    margin-left: max(min(-8%, -30px), -80px);
    width: max(min(28%, 300px), 110px);
    bottom: 0;
    position: absolute;
}

.headerspikerow {
    margin-left: auto;
    margin-right: auto;
    width: max(min(60%, 840px), 270px);
    height: 0%;
    position: relative;
}

.headerspike {
    width: max(min(4%, 32px), 16px);
    position: absolute;
    bottom: -1px;
}

.headerborder1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: max(min(5%, 100px), 50px);
    margin-top: 0px;
    width: max(min(62%, 920px), 285px);
    padding: max(min(2%, 36px), 14px);
    box-shadow: 5px 10px 10px rgb(35, 35, 35);
    background-image: url(./greenMetal.png);
    border-radius: 3px;
}

.headerborder0 {
    padding: max(min(1.5%, 16px), 8px);
    background-image: url(./greenMetal.png);
    border-radius: 3px;
    border: solid rgb(75, 75, 75) 1px;
}

.titlepanel {
    color: white;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    border: solid rgb(18, 18, 18) 3px;
    border-radius: 2px;
}

.logo {
    height: auto;
    width: 6%;
    max-width: 40px;
    min-width: 20px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 0px;
}

.subwaystationserviceicons {
    width: 99%;
    margin-left: 0.5%;
}

.tiledivborder {
    height: max(min(2vw, 32px), 16px);
    width: 100%;
    background-image: url(./tileBorder.png);
    background-size: 32px;
    border: solid rgb(78, 78, 78) 1px;
}

.tilediv {
    height: max(min(5vw, 125px), 75px);
    width: 100%;
    background-image: url(./tileGray.png);
    background-size: 50px;
    border: solid rgb(78, 78, 78) 1px;
}

.panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: max(min(5%, 100px), 50px);
    margin-bottom: max(min(5%, 100px), 50px);
    padding: 0px;
    width: max(min(60%, 900px), 270px);
    color: white;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    box-shadow: 5px 10px 10px rgb(35, 35, 35);
}

.panelline {
    margin-left: 0px;
    margin-top: max(min(2.5%, 20px), 5px);
    width: 200%;
    height: max(min(0.25vw, 3px), 1px);
    background-color: white;
}

.paneltitle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: max(min(1vw, 8px), 4px);
    font-size: max(min(3.25vw, 3.25em), 2em);
}

.panelsmalltitle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: max(min(1vw, 8px), 4px);
    font-size: max(min(2.85vw, 2.85em), 1.65em);
}

.paneltext {
    margin-top: 0px;
    margin-left: max(min(1vw, 8px), 4px);
    margin-right: max(min(1.1vw, 10px), 5px);
    font-size: max(min(1.375vw, 1.375em), 0.9em);
}

.panelsmalltext {
    margin-top: 0px;
    margin-left: max(min(1vw, 8px), 4px);
    margin-left: max(min(1vw, 8px), 4px);
    margin-bottom: max(min(2.5vw, 40px), 20px);
    font-size: max(min(1vw, 1em), 0.75em);
}

.textbreak {
    margin-bottom: max(min(2.5vw, 40px), 20px);
}

.panellink {
    color: white;
    text-decoration: none;
}

.panellinktext {
    font-size: max(min(1vw, 1em), 0.75em);
    float: left; 
    margin-left: 1%;
    margin-top: max(min(1.5vw, 22px), 18px);
    margin-bottom: max(min(1.25vw, 20px), 10px);
    text-decoration: underline;
}

.paneltablewrapper {
    width: 100%;
    height: 30vw;
    min-height: 300px;
    max-height: 550px;
    overflow-y: scroll;
}

.paneltablewrapper thead th {
    position: sticky;
    top: 0px;
    border: 1px solid white;
    background-color: rgb(91, 91, 91);
}

.paneltable {
    width: 100%;
    font-size: max(min(1vw, 1em), 0.65em);
}

.paneltable th {
    border: 1px solid white;
}

.paneltable img {
    width: 5%;
    min-width: 10px;
    max-width: 20px;
    margin: max(min(0.25vw, 3px), 1px);
    margin-left: 1px;
    margin-right: 1px;
}

.chart {
    margin-left: 1%;
    width: 98%;
}

#infodropdownlink {
    cursor: pointer;
}

#sky00 {
    position: relative;
    width: 100%;
}

#sky00art {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(87, 152, 216);
    background: linear-gradient(180deg, rgb(164, 211, 255) 0%, rgb(71, 136, 200) 100%);
    overflow: hidden;
}

.content {
    position: relative;
}

.cloud {
    position: absolute;
    z-index: -20;
    transform: translate(-50%);
}

.tramrigy {
    position: absolute;
    width: 100%;
    height: max(min(20vw, 400px), 200px);
}

.tramrigx {
    position: absolute;
    width: 100%;
}

.tram {
    position: absolute;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    z-index: 0;
    transform: translate(-50%);
}

.tramcable {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    height: max(min(0.27vw, 4px), 2px);
    background-color: rgb(46, 46, 46);
    background: linear-gradient(180deg, rgb(90, 90, 90) 0%, rgba(0,0,0,1) 100%);
    z-index: 1;
}

#try0 {
    top: 35%;
}

#trx0 {
    animation: tramanimationLR;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: min(max(-50%, -400px), -200px);
}

#trx1 {
    animation: tramanimationRL;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    z-index: -1;
    top: 9%;
    left: max(min(150%, calc(100% + 400px)), calc(100% + 200px));
}

@keyframes tramanimationLR {
    0% { left: min(max(-50%, -400px), -200px); }
    50% { left: max(min(150%, calc(100% + 400px)), calc(100% + 200px)); }
    100% { left: min(max(-50%, -400px), 200px); }
}

@keyframes tramanimationRL {
    0% { left: max(min(150%, calc(100% + 400px)), calc(100% + 200px)); }
    50% { left: min(max(-50%, -400px), 200px); }
    100% { left: max(min(150%, calc(100% + 400px)), calc(100% + 200px)); }
}

#underground {
    position: relative;
    width: 100%;
}

#undergroundart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

#grate {
    position: absolute;
    left: 50%;
    z-index: -2;
    transform: translate(-50%);
    top: 1%; 
    width: 25%; 
    min-width: 250px; 
    max-width: 500px;
}

.subwaylight {
    position: absolute;
    z-index: 20;
    transform: translate(-50%);
}

#subwaystation {
    position: absolute;
    width: 100%;
    left: 0;
    top: 15%;
    height: max(min(30vw, 750px), 350px);
    z-index: -10;
}

#stationlightabove {
    position: absolute;
    width: 100%;
    top: 0;
    height: 5%;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(150, 150, 150) 0%, rgb(0, 0, 0) 100%);
}

#stationlight {
    position: absolute;
    width: 100%;
    top: 5%;
    height: 1%;
    background-color: white;
}

#stationlightbelow {
    position: absolute;
    width: 100%;
    top: 6%;
    height: 5%;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(203, 203, 203) 0%, rgb(0, 0, 0, 0) 100%);
}

#stationtile {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 6%;
    background-image: url(./tileGray.png);
    background-size: 1.5%;
    z-index: -10;
}

#stationtileshadow {
    position: absolute;
    width: 100%;
    top: 22%;
    height: 15%;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(51, 48, 38, 0.75) 0%, rgb(51, 48, 38, 0) 100%);
}

#stationpillars {
    position: absolute;
    width: 100%;
    height: 40.75%;
    top: 0;
    z-index: 13;
}

.tunnelpillars {
    position: absolute;
    width: 100%;
    height: max(min(16vw, 400px), 170px);
}

.pillar {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translate(-50%);
}

.stationpassengers {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.stationpassenger {
    position: absolute;
    top: 16%;
    height: 25%;
}

#stationpassengers00 {
    animation: stationpassengers00;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers00 {
    0% { left: -20%; }
    50% { left: 113%; }
    100% { left: -20%; }
}

#stationpassengers01 {
    animation: stationpassengers01;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers01 {
    0% { left: 106%; }
    50% { left: -16%; }
    100% { left: 106%; }
}

#stationpassengers02 {
    animation: stationpassengers02;
    animation-duration: 26s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers02 {
    0% { left: 140%; }
    50% { left: -20%; }
    100% { left: 140%; }
}

#stationpassengers03 {
    animation: stationpassengers03;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers03 {
    0% { left: 110%; }
    50% { left: -10%; }
    100% { left: 110%; }
}

#stationpassengers04 {
    animation: stationpassengers04;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers04 {
    0% { left: 120%; }
    50% { left: -35%; }
    100% { left: 120%; }
}

#stationpassengers05 {
    animation: stationpassengers05;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers05 {
    0% { left: -31%; }
    50% { left: 107%; }
    100% { left: -31%; }
}

#stationpassengers06 {
    animation: stationpassengers06;
    animation-duration: 47s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers06 {
    0% { left: 130%; }
    50% { left: -20%; }
    100% { left: 130%; }
}

#stationpassengers07 {
    animation: stationpassengers07;
    animation-duration: 38s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes stationpassengers07 {
    0% { left: 140%; }
    50% { left: -40%; }
    100% { left: 140%; }
}
 
#stationfloor {
    position: absolute;
    top: 36%;
    width: 100%;
    height: 5%;
    z-index: 11;
    background-color: rgb(100, 91, 57);
    background: linear-gradient(0deg, rgb(51, 48, 38) 0%, rgb(100, 91, 57) 50%, rgb(51, 48, 38) 100%);
}

#stationwarnstrip {
    position: absolute;
    width: 100%;
    top: 41%;
    height: 2%;
    background-color: rgb(168, 155, 22);
}

#stationdrop {
    position: absolute;
    width: 100%;
    top: 43%;
    height: 6%;
    background-color: rgb(51, 48, 38);
    background: linear-gradient(180deg, rgb(51, 48, 38) 0%, rgb(0, 0, 0) 100%);
}

.subwayrigy {
    position: absolute;
    width: 100%;
    height: max(min(19.5vw, 500px), 200px);
}

.subwayrigx {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.subwaytrack {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    height: max(min(0.8vw, 28px), 10px);
    background-color: rgb(23, 21, 16);
    background: linear-gradient(180deg, rgb(23, 21, 16) 0%, rgb(13, 12, 10) 100%);
    will-change: transform;
}

.subwaytrain {
    position: absolute;
    z-index: -2;
    transform: translate(-50%);
    width: 65%; 
    min-width: 660px;
    max-width: 1700px;
}

.subwaypassengers {
    position: absolute;
    z-index: -3;
    transform: translate(-50%);
    width: 65%; 
    min-width: 660px;
    max-width: 1700px;
}

#subwayengine01 {
    position: absolute;
    animation: subwayanimationRL00;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes subwayanimationRL00 {
    0% { left: max(min(800%, calc(400% + 3200px)), calc(400% + 1600px)); }
    100% { left: min(max(-800%, calc(-400% - 3200px)), calc(-400% - 1600px)); }
}

#subwayengine02 {
    position: absolute;
    animation: subwayanimationLR00;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(-1, 1);
}

@keyframes subwayanimationLR00 {
    0% { left: min(max(-300%, calc(-200% - 3200px)), calc(-200% - 1600px)); }
    100% { left: max(min(300%, calc(200% + 3200px)), calc(200% + 1600px)); }
}

#subwayengine03 {
    position: absolute;
    animation: subwayanimationRL01;
    animation-duration: 16s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes subwayanimationRL01 {
    0% { left: max(min(400%, calc(200% + 3200px)), calc(200% + 1600px)); }
    52% { left: 46%; }
    46% { left: 49%; }
    100% { left: min(max(-400%, calc(-200% - 3200px)), calc(-200% - 1600px)); }
}

#subwayengine04 {
    position: absolute;
    animation: subwayanimationRL00;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#subwayengine05 {
    position: absolute;
    animation: subwayanimationLR00;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(-1, 1);
}

#sky01 {
    position: relative;
    width: 100%;
}

#sky01art {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(87, 152, 216);
    background: linear-gradient(180deg, rgb(164, 211, 255) 0%, rgb(71, 136, 200) 100%);
    overflow: hidden;
}

.busoverpass {
    position: absolute;
    width: 100%;
    height: max(min(30vw, 750px), 350px);
    left: 0;
}

.barrier {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(160, 160, 160);
    background: linear-gradient(180deg, rgb(184, 184, 184) 0%, rgb(168, 168, 168) 10%, rgb(150, 150, 150) 60%, rgb(160, 160, 160) 65%, rgb(189, 189, 189) 85%, rgb(92, 92, 92) 100%);
}

.road {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
    background-color: rgb(17, 17, 17);
    background: linear-gradient(180deg, rgb(9, 9, 9) 0%, rgb(17, 17, 17) 50%, rgb(9, 9, 9) 100%);
}

.roadlineside {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3%;
    background-color: rgb(205, 205, 205);
}

.roadlinecenter {
    position: absolute;
    top: 50%;
    width: 7%;
    height: 3%;
    background-color: rgb(205, 205, 205);
}

.overpassbase {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: 3;
    background-color: rgb(91, 91, 91);
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(132, 132, 132) 100%);
}

.overpasssupport {
    position: absolute;
    top: 20%;
    width: min(max(7%, 70px), 300px);
    height: 100%;
    z-index: -15;
    transform: translate(-50%);
    background-color: rgb(91, 91, 91);
    background: linear-gradient(90deg, rgb(91, 91, 91) 0%, rgb(132, 132, 132) 50%, rgb(91, 91, 91) 100%);
}

.busrigy {
    position: absolute;
    width: 100%;
    height: max(min(17vw, 400px), 175px);
}

.busrigx {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bus {
    position: absolute;
    top: 0;
    transform: translate(-50%);
    width: 50%;
    min-width: 500px;
    max-width: 1000px;
}

.accordionbus {
    position: absolute;
    top: 0;
    transform: translate(-50%);
    width: 85%;
    min-width: 850px;
    max-width: 1700px;
}

#bus00 {
    position: absolute;
    transform: scale(-1, 1);
    animation: busanimationRL00;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes busanimationRL00 {
    0% { left: max(min(200%, calc(100% + 1000px)), calc(100% + 500px)); }
    100% { left: min(max(-200%, calc(-100% - 1000px)), calc(-100% - 500px)); }
}

#bus01 {
    position: absolute;
    left: min(max(-200%, calc(-100% - 1000px)), calc(-100% - 500px));
    animation: busanimationLR00;
    animation-duration: 12s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes busanimationLR00 {
    0% { left: min(max(-200%, calc(-100% - 1000px)), calc(-100% - 500px)); }
    100% { left: max(min(200%, calc(100% + 1000px)), calc(100% + 500px)); }
}

#bus02 {
    position: absolute;
    animation: busanimationLR01;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes busanimationLR01 {
    0% { left: min(max(-200%, calc(-100% - 1000px)), calc(-100% - 500px)); }
    50% { left: 40%; }
    60% { left: 60%; }
    100% { left: max(min(200%, calc(100% + 1000px)), calc(100% + 500px)); }
}

#bus03 {
    position: absolute;
    transform: scale(-1, 1);
    left: max(min(200%, calc(100% + 1000px)), calc(100% + 500px));
    animation: busanimationRL00;
    animation-duration: 11s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#bus04 {
    position: absolute;
    animation: busanimationLR00;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#bus05 {
    position: absolute;
    left: min(max(-200%, calc(-100% - 1000px)), calc(-100% - 500px));
    animation: busanimationLR00;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#bus06 {
    position: absolute;
    left: max(min(200%, calc(100% + 1000px)), calc(100% + 500px));
    transform: scale(-1, 1);
    animation: busanimationRL00;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#sky02 {
    position: relative;
    width: 100%;
}

#sky02art {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(164, 211, 255);
    background: linear-gradient(180deg, rgb(164, 211, 255) 0%, rgb(255, 180, 143) 50%, rgb(255, 177, 210) 100%);
    overflow: hidden;
}

.building {
    position: absolute;
    bottom: 7%;
    background-color: rgb(166, 166, 166);
}

#buildingleft00 {
    left: 3%;
    width: 7%;
    top: 10%;
}

#buildingleft01 {
    left: 5%;
    width: 10%;
    top: 12%;
}

#buildingleft02 {
    left: 0%;
    width: 8%;
    top: 16%;
}

#buildingright00 {
    right: 2%;
    width: 8%;
    top: 25%;
}

#buildingright01 {
    right: 5%;
    width: 10%;
    top: 30%;
}

#buildingright02 {
    right: 0%;
    width: 8%;
    top: 36%;
}

#ground {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 7%;
    background-color: rgb(166, 166, 166);
}

#groundunder {
    position: absolute;
    width: 100%;
    top: 96%;
    bottom: 0;
    background-color: rgb(166, 166, 166);
}

.tramsmall {
    position: absolute;
    width: 10%;
    min-width: 100px;
    max-width: 200px;
    z-index: 0;
    transform: translate(-50%);
}

.tramcablesmall {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    height: max(min(0.1vw, 2px), 1px);
    background-color: rgb(166, 166, 166);
    z-index: 1;
}

#try1 {
    top: 17%;
    z-index: -1;
}

#trx2 {
    animation: tramanimationLR;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: min(max(-50%, -400px), -200px);
}

#trx3 {
    animation: tramanimationRL;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
    top: 9%;
    left: max(min(150%, calc(100% + 400px)), calc(100% + 200px));
}

.bussmall {
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
    width: 25%;
    min-width: 250px;
    max-width: 500px;
}

#bus07 {
    position: absolute;
    animation: busanimationLR02;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -10;
}

#bus08 {
    position: absolute;
    transform: scale(-1, 1);
    animation: busanimationRL01;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -10;
}

@keyframes busanimationRL01 {
    0% { left: 20%; }
    100% { left: -120%; }
}

@keyframes busanimationLR02 {
    0% { left: -20%; }
    100% { left: 120%; }
}

.subwaytrainsmall {
    position: absolute;
    bottom: 0;
    z-index: -1;
    transform: translate(-50%);
    width: 30%; 
    min-width: 300px;
    max-width: 600px;
}

#subwayengine06 {
    position: absolute;
    animation: subwayanimationRL02;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#subwayengine07 {
    position: absolute;
    animation: subwayanimationLR01;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(-1, 1);
}

@keyframes subwayanimationRL02 {
    0% { left: 180%; }
    100% { left: -280%; }
}

@keyframes subwayanimationLR01 {
    0% { left: -180%; }
    100% { left: 280%; }
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.footerleft {
    width: 16%;
    max-width: 100px;
    top: 0px;
    cursor: pointer;
}

.footermiddle {
    width: 30%;
    background-color: rgb(235, 0, 8);
    top: 0px;
    cursor: pointer;
}

.footerright {
    width: 60%;
    top: 0px;
    padding-right: 1%;
}

.footerexit {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 35px;
    font-size: max(min(6.5vw, 6.5em), 2.5em);
    line-height: 0.77em;
}

.footerarrow {
    margin: 5%;
    width: 90%;
}

.end {
    bottom: 0px;
    height: 200px;
    width: 100%;
    background-image: url(./wood.png);
}

.caution {
    top: 0px;
    height: 15%;
    background: repeating-linear-gradient(45deg, #ffd900, #ffd900 20px, #000000 20px, #000000 40px);
}