/* Style for main nav links */

#mainnavlinks {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.link {
  float: right;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: 600;
  text-shadow: 0px 0px 6px black;
  color: rgb(255, 255, 255);
  top: 0;
  margin: 50px;
  margin-top: clamp(20px, 5.0vh, 50px);
  margin-left: clamp(20px, 2.5vw, 50px);
  margin-right: clamp(20px, 2.5vw, 50px);
  z-index: 1;
  border-style: dashed;
  border-width: clamp(1.5px, .15vw, 2px);
  padding-top: .15%;
  padding-bottom: .15%;
  padding-left: .5%;
  padding-right: .5%;
  border-color: rgb(255, 227, 100, 0.0);
  user-select: none;
  pointer-events: all;
}

/* Style for main nav logo button */

.logolink {
  position: absolute;
  margin: 12px;
  width: clamp(60px, 15vw, 100px);
  height: clamp(60px, 15vw, 100px);
  z-index: 6;
  user-select: none;
}

/* Style for mobile layout nav links */

#mobilenavmenu {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -200%;
  width: 100%;
  height: 100%;
  user-select: none;
}

.mobilemenuwrapper {
  position: absolute;
  width: 100%;
  margin-top: 40px;
}

.mobilelinkwrapper {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.mobilelink {
  position: relative;
  width: fit-content;
  text-align: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 50px;
  z-index: 6;
  border-style: dashed;
  border-width: clamp(1.5px, .15vw, 2px);
  padding: 1.25%;
  padding-top: .15%;
  padding-bottom: .15%;
  border-color: rgb(255, 227, 100, 0.0);
}

#mobilenavlinksbutton {
  position: absolute;
  top: 30px;
  right: 26px;
  width: 50px;
  height: 50px;
  z-index: 6;
}

#mobilenavlinksbuttontop {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 25.6%;
  bottom: 66.07%;
  background: #FFFFFF;
}

#mobilenavlinksbuttonmiddle {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 45.83%;
  bottom: 45.83%;
  background: #FFFFFF;
}

#mobilenavlinksbuttonbottom {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 66.07%;
  bottom: 25.6%;
  background: #FFFFFF;
  opacity: 100%;
}

#mobilenavbackgroundblur {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 10, 16, 0.5);
  backdrop-filter: blur(16px);
  z-index: 5;
  opacity: 100%;
}

/* Page Content */

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  clear: left;
}

h {
  font-size: min(max(3vw, 160%), 600%);
}

h1 {
  font-size: min(max(2vw, 120%), 400%);
  font-weight: 600;
  color: rgb(128, 128, 128);
  clear: left;
}

p {
  font-size: min(max(1.0vw, 100%), 200%);
}

p1 {
  font-size: min(max(0.75vw, 75%), 150%);
}

.caption {
  width: max(75%, 195px);
  text-align: center;
  transform: translate(-50%, 0%);
  margin-left: 50%;
}

img {
  display: block;
  width: max(75%, 195px);
  margin: auto;
}

video {
  width: max(100%, 260px);
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: min(40%, 500px);
  text-align: center;
  font-size: min(max(3vw, 160%), 600%);
  font-weight: 400;
  text-shadow: 0px 0px 10px black;
  color: white;
  background-image: url('./graphics/headerbackground.png');
  background-position: center;
  background-color: black;
  background-size: cover;
}

#headertext {
  position: absolute;
  width: 100%;
  transform: translate(0%, -50%);
  top: 50%;
}

#content {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 50%;
  left: 50%;
  width: min(max(50%, 300px), 1920px);
}

/* Main nav animations */

@keyframes grow {
  100% {
    transform: scale(1.1);
    color: rgb(255, 227, 100);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
    color: rgb(255, 227, 100);
  }
  100% {
    transform: scale(1.0);
    color: rgb(255, 255, 255);
  }
}

@keyframes bounce {
  40% {
    transform: scale(.7);
  }
  60% {
    transform: scale(.9);
  }
  80% {
    transform: scale(.8);
  }
}

@keyframes bounceChangeBorder {
  40% {
    transform: scale(.7);
  }
  60% {
    transform: scale(.9);
  }
  80% {
    transform: scale(.8);
  }
  100% {
    border-color: rgb(255, 227, 100, 1.0);
  }
}

@keyframes resetScaleBorder {
  0% {
    border-color: rgb(255, 227, 100, 1.0);
  }
  100% {
    transform: scale(1.0);
    border-color: rgb(255, 227, 100, 0.0);
  }
}

@keyframes mobileNavIn {
0% {
  margin-top: -200%;
}
40% {
  margin-top: 0%;
}
60% {
  margin-top: -5%;
}
100% {
  margin-top: 0%;
}
}

@keyframes mobileNavOut {
0% {
  margin-top: 0%;
}
100% {
  margin-top: -200%;
}
}

/* Animations for mobile nav button */

@keyframes mobileNavButtonTopIn {
0% {
  transform: translate(0px, 0px) rotate(0deg);
}
100% {
  transform: translate(0px, 10px) rotate(45deg);
}
}

@keyframes mobileNavButtonMiddleIn {
0% {
  transform: translate(0px, 0px) rotate(0deg);
}
100% {
  transform: translate(0px, 0px) rotate(-45deg);
}
}

@keyframes mobileNavButtonBottomIn {
0% {
  opacity: 100%;
}
100% {
  opacity: 0%;
}
}

@keyframes mobileNavButtonTopOut {
0% {
  transform: translate(0px, 10px) rotate(45deg);
}
100% {
  transform: translate(0px, 0px) rotate(0deg);
}
}

@keyframes mobileNavButtonMiddleOut {
0% {
  transform: translate(0px, 0px) rotate(-45deg);
}
100% {
  transform: translate(0px, 0px) rotate(0deg);
}
}

@keyframes mobileNavButtonBottomOut {
0% {
  opacity: 0%;
}
100% {
  opacity: 100%;
}
}
  
  